<h1>Nuevo usuario</h1>

<% form_for(@usuario) do |f| %>

	<div class="field">
		<%= f.label :nombre %><br>
		<%= f.text_field :nombre %>
	</div>
	<div class="field">
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</div>
	<div> class="actions"><%= f.submit "guardar" %>
	</div>
<% end %>